h1{
    color:#893f8f;
   padding-left:60px;
   
} 

.header *{
  margin-top:25px;
}
.header{
  
color:#f49071;
display:flex;
justify-content:space-evenly;
}
.menu{
  color:red;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.sitedescription{
color:orange;
display: flex;
justify-content:space-around;
}
.item{
position: relative;
}
.item p{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity:0
}
.item:hover p{
opacity:1
}
.item:hover img{
opacity:0.33;
}
a:link{
color:red
}

a:visited{
color:green
}